.bodyy {

background-repeat: repeat;
background-attachment: scroll;
background-color: whitesmoke;
background-position: top-left;
}
.blogg {
-webkit-tap-highlight-color: transparent; background-color: white; border: 0px; box-sizing: border-box; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 20px; font-stretch: normal; font-variant-east-asian: normal; font-variant-numeric: normal; font-weight: 400; line-height: 1.4; margin: 32px 0px; padding: 0px 30px; text-align: start; transition: none 0s ease 0s; vertical-align: baseline;
background-color: whitesmoke; color:#242424; font-family: &quot;open sans&quot; , sans-serif; font-size: 14.7px;
}
.blogimg {
width:200px;
height:250px;
}
.blogbaslik{
display: none !important;
width: 100%;
border-bottom-right-radius: calc(8rem - 100px);
border-bottom-left-radius: calc(8rem - 100px);
width:570px;
height:250px;
}
.boyt{
width: 660px;
height: 371px;
}